[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
alembic = "*"
uvicorn = "*"
asyncpg = "*"
aiogram = "*"
httpx = "*"
redis = "*"
pyjwt = "*"
tzdata = "*"
apscheduler = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.12"
